/*.grid-container {
    display: grid;
}

.bacon-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

img {
    width: 250px;
}*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #306E11;
    padding: 10px;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    display: block;
    padding: 10px;
    background-color: #306E11;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #5F9C3A;
}

nav ul li.active a {
    background-color: #6B1D59;
}

.skip {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #000;
  z-index: 1000;
}

.skip:focus {
  top: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 50px;
    background-color: #c4d8c2;
}

h2, h4 {
    font-family: 'Palatino', serif;
    font-weight: bold;   
}

h1 {
    font-size: 3rem;
    font-family: 'Alegreya Sans SC';
    color: #233C21;
    margin: 10px;
    padding: 10px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.5cm;
}

h2 {
    font-size: 0.2rem;
    margin-top: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
    margin: 0 0 0.1rem;
    color: #385335;
    text-align: center;
}

p {
    font-size: 1.1rem;
}

a {
    color: #54195d;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    align-items: center;
  }

  .container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .container video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
  }

  .img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.img-grid img, .img-grid video {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
  
    .skip a{
      -webkit-transition: none;
      transition: none;        
     }

    header{
      background-attachment: initial;
    }
}

.main-picture-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.main-picture {
    display: block;
    width: 100%;
    border-radius: 10px;
}


main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px; 
}

main > div {
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 10px;

}

main > div > h2 {
    font-family: Arial;
    color:#2E472B;
    margin-top: 0;
    font-size: 30px;
    text-align: center;
}

img {
    width: 100%;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  ol {
    list-style-type: decimal;
    padding-left: 20px;
  }

a[href="#main"]:focus {
    transform: translateY(0%);
}
  
@media screen and (min-width: 768px) {
    .nav {
        flex-direction: row;
        justify-content: flex-start;
      }
    
    .nav ul {
        flex-wrap: nowrap;
      }
    
    .nav ul li {
        margin-right: 20px;
        transition: background-color 0.3s ease;
      }

    .nav ul li:hover {
        background-color: #5F9C3A;
    }  
      
}

@keyframes example-animation {

}
    
.animated-element {
      animation: example-animation 1s infinite;
}
    
@media screen and (min-width: 768px) {
  nav ul li {
    position: relative;
  }

  nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #306E11;
    padding: 10px;
    border-radius: 5px;
  }

  nav ul li:hover ul {
    display: block;
  }
  
  .container {
    grid-template-columns: repeat(2, 1fr);
  } 

  .img-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .skip {
    top: 0;
  }    
}
  
body.dark {
    background-color: #333; /* Dark background when user prefers dark color scheme */
  }
  
  @media (prefers-color-scheme: dark) {
    body.light {
      background-color: #333; /* Dark background when user prefers dark color scheme */
      /* Apply other dark theme styles here */
      nav {
        background-color: #444;
      }
    
      nav ul li a {
        color: #ddd;
      }
    
      nav ul li a:hover {
        background-color: #555;
      }
    
      nav ul li.active a {
        background-color: #6B1D59;
      }
    
      h1, h2 {
        color: #fff;
      }
    
      a {
        color: #bbb;
      }
    
      .main-picture {
        filter: brightness(50%);
      }
    }
  }

  @media screen and (min-width: 992px) {
    
    .gallery {
      display: flex;
      overflow: hidden;
      position: relative;
      height: 300px; /* Adjust the height as needed */
  }
  
  .gallery img {
      width: 92%;
      height: 300px; /* Adjust the height as needed */
      object-fit: cover;
      position: absolute;
      opacity: 0;
      transition: opacity 1s;
  }
  
  .gallery img:first-child {
      opacity: 1;
  }

  @media (prefers-reduced-motion: reduce) {
    .gallery img {
       animation: none;
       transition: none;
     }
   }

  }